  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48562941-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-48562941-4');
  </script>
  <link rel="shortcut icon" href="static/favicon.png">
  <style>
    header {
      width: 60%;
      margin: 0 auto;
    }

    .container {
      width: 60%;
      margin: 0 auto;
    }

    .input_form {
      position: relative;
      width: 70%;
      margin: 30px auto;
    }

    .input_form input[type='text'] {
      font: 15px/36px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #aaaaaa;
      border: none;
      border-bottom: 2px solid #1b2538;
      background: transparent;
    }

    .ef input[type='text']:focus {
      border-bottom: 2px solid #999999;
      outline: none;
    }

    .out {
      position: relative;
      width: 70%;
      margin: 20px auto;
    }

    .out input[type='text'] {
      font: 15px/36px sans-serif;
      width: 80%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      border: none;
    }

    table {
      width: 100%;
    }

    .col1 {
      padding: 0 5px;
      border: none;
      border-bottom: 2px solid #999999;
    }

    .col2 {
      padding: 0 5px;
      border: none;
      border-bottom: 2px solid #999999;
    }

    .col4 {
      padding: 0 10px;
      border: none;
      border-bottom: 2px solid #999999;
    }

    .col5 {
      padding: 0 10px;
      border: none;
      border-bottom: 2px solid #999999;
    }

    .cli {
      position: relative;
      width: 70%;
      margin: 20px auto;
    }

    .cmd {
      padding: 8px;
      background-color: #DDDDDD;
      border: 1px solid #DDDDDD;
      border-radius: 10px;
    }

    footer {
      width: 100%;
      height: 40px;
      padding: 25px;
      background-color: #444444;
      color: blanchedalmond;
    }

    footer .contents {
      margin: auto;
      text-align: center;
    }

    .detail {
      font-size: 11px;
      color: #999999;
    }

    a:link {
      color: white;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: blue;
    }

    a:active {
      color: blue;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
